<style>
  .dialogue{
    color: #666666;
  }
</style>
  
  <p class="dialogue">They look like this.</p>
<div id="alternates">
  <img src="Alternates Images/alternate 2.png"style="width:98%; height: 400px">
  <img src="Alternates Images/alternate 4.png" style="width: 95%; height: 400px">
</div>
    
<p>Do not smirk, reader. I can sense it - you don't look convinced. Don't take my word, then. Take your <em>government's</em>.</p>

  <a href="https://www.youtube.com/watch?v=pgE64kT0aVI"><div><img src="mad disorder.png"></div></a>

<style>
#alternates{
  border: red dashed;
  width: 1000px;
  height: 1200px;
  padding: 10px;
  margin: 10px:
  background-color: #f9e1b5:
  float: right; 
  }
</style>
